# /etc/systemd/system/gw2-armory.service
[Unit]
Description=gw2-armory server and db via Docker Compose
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=ec2-user
WorkingDirectory=/opt/app/site/compose/gw2-armory

ExecStart=/usr/bin/docker compose -f /opt/app/site/compose/gw2-armory/compose.yml up --detach 
ExecStop=/usr/bin/docker compose -f /opt/app/site/compose/gw2-armory/compose.yml down
ExecReload=/usr/bin/docker compose -f /opt/app/site/compose/gw2-armory/compose.yml up -d --remove-orphans

Restart=on-failure
RestartSec=10s
TimeoutStartSec=120

StandardOutput=journal
StandardError=journal
SyslogIdentifier=gw2-armory

[Install]
WantedBy=multi-user.target
